<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
</head>
<body style="background: white;">
  <h1>New Author...</h1>
  <%= form_with model: author do |form| %>
    <div>
      <%= form.label :name %><br>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.label :city %><br>
      <%= form.text_area :city %>
    </div>

     <div>
      <%= form.label :avatar %><br>
      <%= form.file_field :avatar %>
    </div>

    <div>
      <%= form.submit %>
    </div>
  <% end %>
</body>
</html>
