<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title></title>
</head>
<body style="background: white;">
	<%= link_to "Back to Authors", authors_path %>

	<h2><%= @author.name %></h2>
	<p><%= @author.city %></p>
	<div>
		<% if @weather_data.present? %>
		  <p><%= @weather_data[:temp_c] %> degrees Celsius, <%= @weather_data[:condition_text] %></p>
		  <%= image_tag @weather_data[:icon_url] %>
		<% else %>
		  <p>No weather information available.</p>
		<% end %>
	</div>

	<div>
		<p><%= image_tag(@author.avatar, size: "200" )%></p>
	</div>
	<% cache @author do %>
		<h4>Cache data:</h4>
		<p>Name:- <%= @author.name %></p>
		<p>City:- <%= @author.city %></p>
		<br>
		<p> <%= @author.inspect %></p>
  <% end %>

	<div>
		<p><%= cookies.encrypted[:name]%></p>
		<p><%= cookies[:city]%></p>
		<p><%= session[:name]%></p>
		<p><%= session[:city]%></p>
	</div>
	<% if can? :destroy, @author %>
		<%= link_to "Delete", author_path(@author), data: {turbo_method: :delete,
	turbo_confirm: "Are you sure?"} %>
	<% end %>
	
</body>
</html>
